<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		      package="cri.sanity" android:installLocation="auto"
		      android:versionCode="22" android:versionName="1.9">

  <application android:icon="@drawable/ic_app"
               android:label="@string/app"
               android:debuggable="false"
               android:name=".A">

    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenGeneral" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenDevices" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenProximity" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenSpeaker" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenVolume" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenRecord" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenNotify" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenAbout" />
    <activity android:label="@string/app" android:theme="@style/Theme" android:name=".ScreenBrowse" />

	  <service android:name=".MainService" />
	  <service android:name=".RecService" />

	  <receiver android:name=".PhoneReceiver">
      <intent-filter>
        <action android:name="android.intent.action.PHONE_STATE" />
      </intent-filter>
    </receiver>

	  <receiver android:name=".OutgoingReceiver">
      <intent-filter>
        <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
      </intent-filter>
    </receiver>

	  <receiver android:name=".BtReceiver">
      <intent-filter>
        <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
        <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
      </intent-filter>
    </receiver>

		<receiver android:name=".Admin$Receiver"
		          android:label="@string/app"
		          android:permission="android.permission.BIND_DEVICE_ADMIN">
	    <meta-data android:name="android.app.device_admin" android:resource="@xml/admin" />
	    <intent-filter>
		    <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
		    <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
	    	<action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
	    </intent-filter>
		</receiver>

  </application>

  <uses-sdk android:minSdkVersion="5" />

  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true"
	                  android:xlargeScreens="true" android:anyDensity="true" />

</manifest>